node_modules
# Keep environment variables out of version control
.env
.env.test
.env.local
.env.production
.env.staging
.env.development

/src/generated/prisma

# Local Netlify folder
.netlify

# Mobile WIP directory
mobile-wip

# Archive large binary files
sav3-frontend/legacy-archive/**/*.exe
sav3-frontend/legacy-archive/**/*.asar
sav3-frontend/legacy-archive/**/*.dmg
sav3-frontend/legacy-archive/**/*.pkg
sav3-frontend/legacy-archive/**/*.msi
sav3-frontend/legacy-archive/**/*.deb
sav3-frontend/legacy-archive/**/*.rpm
